<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My first web page for  : Big Data Science and Analytics</title>

    </head>
<body>

    <div>
            <h2><a href="">Big Data science and Analytics</a></h2>
    </div>

    <div>
        <p>published: 25-Sep-2016, 12:14</p>
            <h2><a href="">Introduction</a></h2>
        <p>
            <h3>Comprehensive data ingestion</h3>
            Integrate datasets from disparate online and offline sources to get a high-definition view of your customers.
        </p>
        <p>
            <h3>Data pattern discovery</h3>
            Intelligently identify hidden behaviors and recognize patterns in big data using customer analytics and data science technologies within the data workbench.
        </p>
        <p>
            <h3>On-demand data curation</h3>
            Assemble insights into easy-to-understand dashboards and visualizations that can be used by stakeholders to make better business decisions.
        </p>


        <p>
            <h3>Automated syndication</h3>
            Instantly deliver key insights to downstream systems to take action and improve marketing optimization.
        </p>

    </div>

</body>

</html>